.home-container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.home-container h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.home-container p {
  margin-top: 10px;
  font-size: 18px;
  color: #666;
}
